<?xml version = "1.0"?>
<settings><style>Native</style><desktop>Tabs (Top)</desktop><console>Visible</console><language>English</language><toolbar>Visible</toolbar><tree>Left</tree><size>1089, 997</size><antialiasing>true</antialiasing><theme>javax.swing.plaf.metal.OceanTheme</theme><consoleboxlocation>678</consoleboxlocation></settings>