<?xml version = "1.0"?>
<settings><style>javax.swing.plaf.metal.MetalLookAndFeel</style><desktop>Tabs (Top)</desktop><console>Hidden</console><language>English (Universal)</language><toolbar>Visible</toolbar><tree>Left</tree><size>1024, 720</size><antialiasing>true</antialiasing><theme>org.gcreator.themes.HappyTheme</theme><consoleboxlocation>596</consoleboxlocation></settings>