<?xml version = "1.0"?>
<settings><style>javax.swing.plaf.metal.MetalLookAndFeel</style><desktop>Tabs (Top)</desktop><console>Visible</console><language>English</language><toolbar>Visible</toolbar><tree>Left</tree><size>1024, 705</size><antialiasing>true</antialiasing><theme>publicdomain.CharcoalTheme</theme><consoleboxlocation>466</consoleboxlocation></settings>